parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    bootstrapFiles:
        - '../vendor/autoload.php'
    excludes_analyse:
        - '../vendor/'
        - '../src/Migrations/'
        - '../source/src/Kernel.php'
        - '../dev'
        - '../bin'
        - '../tests'
        - '../src/DependencyInjection'
        - '../src/SynoliaSyliusGDPRPlugin.php'
    ignoreErrors:
        - '#Parameter \#1 \$className of static method Doctrine\\Common\\Util\\ClassUtils::newReflectionClass\(\) expects class-string, string given.#'
        - '#Variable method call on object.#'
        - '#Variable method call on mixed.#'
        - '#Variable method call on object.#'
        - '#Call to an undefined method Faker\\UniqueGenerator::format\(\).#'
        - '#.*Laminas\\Stdlib\\PriorityQueue*.#'
