<div class="content">
    <a
        href="{{ path('synolia_sylius_gdpr_admin_anonymize_customer', {'id': customer.id}) }}"
        class="ui labeled icon button black"
    ><i class="icon user secret"></i>{{ 'sylius.ui.admin.synolia_gdpr.customer.anonymize'|trans }}</a>
</div>
