<footer class="footer footer-transparent d-print-none">
    <div class="container-xl">

        {{ 'sylius.ui.powered_by'|trans }} <a href="https://synolia.com"
                                              target="_blank">Synolia</a>. {{ 'sylius.ui.see_issue'|trans }}? <a
                href="https://github.com/synolia/SyliusGDPRPlugin/issues"
                target="_blank">{{ 'sylius.ui.report_it'|trans }}!</a>
    </div>
</footer>
